/* 按钮样式 */
.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: all 0.3s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.btn.primary {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.btn.success {
  color: $white;
  background-color: $success;
  border-color: $success;
}

.btn.warning {
  color: $white;
  background-color: $warning;
  border-color: $warning;
}

.btn.danger {
  color: $white;
  background-color: $danger;
  border-color: $danger;
}
