/* 自定义变量 */

/* 颜色 */
$white: #ffffff;
$black: #333333;
$black-light: #2c3e50;
$grey: #999999;
$grey-light: #f8f8f8;
$mask: rgba(0, 0, 0, 0.4);
$border: #dcdfe6;
$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;
