/* 背景相关 */
.bg-white {
	background-color: $uni-bg-color;
}

.bg-gray {
	background-color: $uni-bg-color-grey;
}

.bg-mask {
	background-color: $uni-bg-color-mask;
}

.bg-black {
	background-color: $uni-text-color;
}
