/* 按钮相关 */
.btn {
	display: inline-flex;
	border-radius: 6rpx;
	font-size: inherit;
	transform-origin: 0 0;
	transition: all 0.2s;
	background-color: transparent;
}

.btn::after {
	display: none;
}

.sm {
	transform: scale(0.8);
}

.mini {
	transform: scale(0.7);
}

.btn.button-hover {
	opacity: 0.7 !important;
}

.btn.primary {
	background-color: $uni-color-primary;
	color: $uni-text-color-inverse;
}

.btn.success {
	background-color: $uni-color-success;
	color: $uni-text-color-inverse;
}

.btn.warning {
	background-color: $uni-color-warning;
	color: $uni-text-color-inverse;
}

.btn.border {
	border: 1rpx solid currentColor;
}
