/* 字体相关 */
.font-28 {
	font-size: 28rpx;
}

.font-24 {
	font-size: 24rpx;
}

.color-white {
	color: $uni-text-color-inverse;
}

.color-black {
	color: $uni-text-color;
}

.color-primary {
	color: $uni-color-primary;
}

.color-success {
	color: $uni-color-success;
}

.color-warning {
	color: $uni-color-warning;
}

.line-height-15 {
	line-height: 1.5;
}

.line-height-16 {
	line-height: 1.6;
}

.font-bold {
	font-weight: bold;
}
