/* 外边距 */
.m-10 {
	margin: 10rpx;
}

.mx-10 {
	margin-left: 10rpx;
	margin-right: 10rpx;
}

.my-10 {
	margin-top: 10rpx;
	margin-bottom: 10rpx;
}

.mt-10 {
	margin-top: 10rpx;
}

.mr-10 {
	margin-right: 10rpx;
}

.mb-10 {
	margin-bottom: 10rpx;
}

.ml-10 {
	margin-left: 10rpx;
}

.m-20 {
	margin: 20rpx;
}

.mx-20 {
	margin-left: 20rpx;
	margin-right: 20rpx;
}

.my-20 {
	margin-top: 20rpx;
	margin-bottom: 20rpx;
}

.mt-20 {
	margin-top: 20rpx;
}

.mr-20 {
	margin-right: 20rpx;
}

.mb-20 {
	margin-bottom: 20rpx;
}

.ml-20 {
	margin-left: 20rpx;
}
